// cut7
.cut7 {
  background-image: url(../img/bg-7.jpg);
  height: 77.92vw;
  position: relative;
  @include mobile {
    height: 233vw;
    background-image: url(../img/bg-7-m.jpg);
    background-position-x: -35vw;
    background-size: 185% 234vw;
  }
}
.cut7 {
  .point {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    left: 51vw;
    border-radius: 2vw;
    background-color: #ffffff;
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      left: -0.5vw;
      top: -0.5vw;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      width: 2.5vw;
      height: 2.5vw;
      z-index: -1;
      opacity: 0;
      -webkit-animation: point 1s infinite linear;
      animation: point 1s infinite linear;
    }
  }
  .point-position-1 {
    top: 21.5vw;
    left: 51vw;
    @include mobile {
      top: 45.5vw;
      left: 34vw;
    }
  }
  .point-position-2 {
    top: 41vw;
    left: 36.5vw;
    @include mobile {
      top: 139vw;
      left: 66vw;
    }
  }

  .point-position-3 {
    top: 45vw;
    left: 62vw;
    @include mobile {
      top: 192vw;
      left: 36.5vw
    }
  }
  //點點動態
  @keyframes point {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    80% {
      opacity: 1;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  }

  h2 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2vw;
    padding-bottom: 8%;
    padding-top: 4%;
    @include mobile {
      padding-bottom: 35%;
    }
  }
  .shine-position {
    top: 2%;
    left: 24%;
    @include mobile {
      top: 0.5%;
      left: 14.5%;
    }
  }
  .shine-position-2 {
    top: 5.5%;
    left: 38%;
    @include mobile {
      top: 2.8%;
      left: 38%;
    }
  }
}
.pd-items {
  padding-bottom: 2vw;
  // position: absolute;
  position: relative;
  // z-index: 1;
  margin: 0 auto;
  width: 33.59vw;
  @include mobile {
    transform: scale(1.6);
  }
  // background: #869fe5;
  .pd-1 {
    width: 9vw;
    height: 41.35vw;
    transform: translateY(5vw);
    @include mobile {
      transform: translate(23vw, 35vw);
    }
  }
  .pd-2 {
    width: 10.52vw;
    height: 37.03vw;
    @include mobile {
      width: 16.52vw;
      height: 43.03vw;
      transform: translate(-12.2vw, -5vw);
    }
  }
  .pd-3 {
    width: 15.94vw;
    height: 18.07vw;
    transform: translateY(14vw);
    @include mobile {
      width: 20.94vw;
      height: 23.07vw;
      transform: translate(-28vw, 81.5vw);
    }
  }
}

.postion-1 {
  position: absolute;
  left: 9vw;
  top: -31vw;
  @include mobile {
    left: 3vw;
    top: 3vw;
  }
  .leading-line-1 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 13vw;
    left: 19.5vw;
    width: 9.64vw;
    height: 3.59vw;
    background-image: url(../img/leading-line-1-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    @include mobile {
      top: 43vw;
      /* z-index: -1; */
      left: 42.5vw;
      width: 24.64vw;
      height: 9.59vw;
    }
  }
}

.postion-2 {
  position: absolute;
  left: 71vw;
  top: -49vw;
  @include mobile {
    left: 48vw;
    top: -65vw;
  }
  .leading-line-2 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 10vw;
    left: -20.5vw;
    width: 21.55vw;
    height: 6.33vw;
    background-image: url(../img/leading-line-0.png);
    background-repeat: no-repeat;
    background-size: contain;
    @include mobile {
      top: 19vw;
      left: -15.3vw;
      width: 19.57vw;
      height: 14.4vw;
      background-image: url(../img/leading-line-2-1.png);
    }
  }
}

.postion-3 {
  position: absolute;
  left: 71vw;
  top: -22vw;
  @include mobile {
    left: 48vw;
    top: 63vw;
  }
  .leading-line-3 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 8vw;
    left: -9.3vw;
    width: 10.42vw;
    height: 3.59vw;
    background-image: url(../img/leading-line-2-1.png);
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile {
      top: 38vw;
      /* z-index: -1; */
      left: -12.5vw;
      width: 16.42vw;
      height: 10.59vw;
      background-image: url(../img/leading-line-2-1.png);
    }
  }
}
.txt {
  width: 20.57vw;
  text-align: center;
  // margin: 0 auto;
  position: relative;
  &::after {
    content: " ";
    position: absolute;
    width: 20.57vw;
    height: 25.68vw;
    left: 0;
    top: 0;
    background-image: url(../img/whiteDeco.png);
    background-size: contain;
    background-repeat: no-repeat;
    @include mobile {
      width: 47.57vw;
      height: 59.68vw;
    }
  }

  .info {
    position: absolute;
    width: 20.57vw;
    padding: 3vw 2.5vw;
    z-index: 1;
    @include mobile {
      left: 2vw;
      top: 6vw;
      width: 45.57vw;
      padding: 0vw 4.5vw;
    }
    sup {
      font-size: 50%;
      vertical-align: 90%;
    }
    .label {
      margin-bottom: 2vw;
      @include mobile {
        margin-bottom: 1vw;
      }
      h3 {
        font-weight: 700;
        margin-top: 2vw;
        margin-bottom: 0.3vw;
        @include mobile {
          font-size: 4.5vw;
        }
      }
      h4 {
        @include mobile {
          font-size: 4vw;
        }
      }
      p {
        line-height: 1.3;
        padding: 0.4vw 0.2vw;
        border: 1px solid transparent;
        border-width: 1px 0 1px 0;
        border-image: linear-gradient(to right, rgba(0, 0, 0, 0), black);
        border-image-slice: 1;
        @include mobile {
          font-size: 3vw;
        }
      }
    }
    dt {
      background: linear-gradient(
        40deg,
        transparent 5%,
        #192384 5.1%,
        #192384 95%,
        transparent 95.1%
      );
      color: #fff;
      width: 7vw;
      margin: 0 auto;
      line-height: 1.6;
      @include mobile {
        width: 22vw;
        font-size: 4vw;
      }
    }
    dd {
      margin: 0.5vw 0;
      @include mobile {
        margin: 2vw 0;
        font-size: 3vw;
      }
    }
  }
}
