.fixed-btn {
  position: relative;
  u {
    text-decoration: none;
    position: absolute;
    top: -4vw;
    left: 2.5vw;
    font-size: 0.95vw;
    &::after {
      content: "";
      content: "";
      width: 3.2vw;
      height: 1vw;
      top: 0vw;
      left: -0.6vw;
      position: absolute;
      background: white;
      filter: blur(0.7vw);
      z-index: -1;
      @include mobile {
        width: 8vw;
        height: 5vw;
        filter: blur(1.7vw);
      }
    }
    @include mobile {
      top: -6vw;
      left: 6vw;
      font-size: 2.5vw;
    }
  }
}
#g-quick {
  position: fixed;
  top: 46%;
  right: 1%;
  z-index: 20;
  width: 5vw;
  border-radius: 50vw;
  background: linear-gradient(to bottom, #fff 30%, #8f8f8f, #fff 80%);
  transition: 0.2s;
  box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.6);
  padding: 1px;
  text-align: center;
  @include mobile {
    width: 13vw;
    right: 3%;
  }
}
#g-quick > div {
  // position: fixed;
  padding-top: 3vw;
  // width: 6.7vw;
  // height: 20vw;
  padding-bottom: 1vw;
  border-radius: 50vw;
  background: #192384;
  // background: linear-gradient(to bottom, #c21832, #d43c59, #cb1d3c);
  box-shadow: inset 0 0 1px #8f8f8f;
  position: relative;
  overflow: hidden;
  @include mobile {
    padding-top: 12vw;
    padding-bottom: 3vw;
  }
}
#g-quick > div:before {
  content: "";
  width: 13vw;
  height: 20vw;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  @include mobile {
    padding-top: 12vw;
    padding-bottom: 3vw;
  }
}
#g-quick .icon-pd {
  width: 6.16vw;
  height: 62%;
  top: -6vw;
  left: -0.5vw;
  background: url(../img/quick-pd.png) no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: 1;
  @include mobile {
    width: 15vw;
    top: -11vw;
    left: -1vw;
  }
}
#g-quick p {
  writing-mode: vertical-lr;
  text-shadow: 0 0 0.5vw rgba(255, 255, 255, 0.5);
  color: #fff;
  line-height: 1;
  letter-spacing: 0.2vw;
  font-size: 1.5vw;
  margin: 0 auto;
  position: relative;
  left: -0.2vw;
  @include mobile {
    font-size: 4.7vw;
  }
}
#g-quick .icon-arrow {
  background: url(../img/icon-down-fff.svg) no-repeat center #7079d0;
  background-size: 60%;
  width: 1.8vw;
  height: 1.8vw;
  display: inline-block;
  border-radius: 50vw;
  margin-top: 0.8vw;
  @include mobile {
    width: 4vw;
    height: 4vw;
    margin-top: 3.8vw;
  }
}
#g-quick:hover > div:before {
  animation: bt_hover_pie_fff 0.5s forwards;
}
